* {
    margin: 0px;
    border: 0px;
  }
.top-title {
    color: antiquewhite;
    background-color: rgb(84, 168, 168);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-sizing: border-box;
  }
.undertitle {
    font-size: 20px;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
  }
.top-title .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px; 
  flex: 1; 
  }
.butui {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    width: auto;
    height: 8vh;
  }
.but{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #048C7F;
    text-decoration: none;
    color: inherit;
    flex: 1;
    height: inherit;
  }
html {
    height: 100%;
  }
body {
    min-height: 100%;
  }
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 47, 59);
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  gap: 1%;
}
.bottom a{
  display: block;
  height: 50%;
}
.bottom a img{
  display: block;
  height: 100%;
}
.mainchunk {
  width: 100%;
  height: 67vh;
  background-color: #81CDC6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #036c5f;
  border-radius: 25px;
  height: 34%;
  width: 30%;
  margin: 15px;
}
.project img{
 height: 50%;
}
.project div{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  font-size: 30px;
}
.project a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.mainchunk > .title{
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.mainchunk > div{
  padding: 3%;
  font-size: 25px;
}

#sightsense-blurb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#project-page{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}